html{
    text-align: center;
    background-color: black;
    width: 99%;
    height: 90%;
}
body{
    width: 100%;
    height: 100%;
}
#container{
    width: 90%;
    height: 70%;
    border: blueviolet 15px solid;
    margin: auto;
    position: relative;
}
.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    padding: 5px 20px;
}
#canvas{
    width: 100%;
    height: 100%;
    cursor:cell;
}
#text{
    color: white;
}